<%- include('includes/head.ejs') %>

</head>

<body>
    <header class="main-header">
        <%- include('includes/navigation.ejs') %>
    </header>

    <main class="product-container">
        <% if (check==true) { %>
        <div class="grid">
            <% for (let product of prods) {%>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"><%= product.title %></h1>
                </header>
                <div class="card__image">
                    <img src="https://images.unsplash.com/photo-1602731465531-14015e83a6de?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=300&q=80"
                        alt="ppic">
                 
                </div>
                <div class="card__content">
                    <h2 class="product__price">$19.19</h2>
                    <p class="product__discription">A good fucking book</p>
                </div>
                <div class="card__action">
                    <button class="btn">Add to cart</button>
                </div>
            </article>
            <%}%>
            
        </div>

        <% } else { %>
            <h1>No Product Found</h1>
            <% } %>

    </main>
    <script src="/javascript/add-product.js"></script>
</body>

</html>